$BG_Color: #3A4047;


.cardList {
  display: grid;
  grid-template-columns: 500px 500px;
  background-color: $BG_Color;
}

.card {
  border: 1px solid $BG_Color;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 500px;
  margin: 10px;
}
.title {
  font-weight: bold;
}
