$BG_Color: #3A4047;

.app {
  background-color: $BG_Color;
  min-height: 100vh;
}

.container {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0 15px;
}

.mainSection {
  display: grid;
  grid-template-columns: 20% 80%;
  padding-top: 10px;
  width: 80vw;
}

@media screen and (max-width: 640px) {
  .mainSection {
    grid-template-columns: 100%;
  }
}
