.arraySearchValue {
  display: flex;
  flex-direction: column-reverse;
  width: 300px;
  color: white;
}

.searchHistoryTitle {
  color: white;
  padding: 15px 0px;
}

@media screen and (max-width: 640px) {
  .searchHistoryTitle {
    padding-left: 15px;
  }
  .arraySearchValue {
    padding-left: 15px;
  }
}
